<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - &lt;%m&gt;%n"/>
        </layout>
    </appender>

    
    <logger name="org.springframework">
        <level value="WARN" />
    </logger>

    <logger name="com.hazelcast">
        <level value="INFO" />
    </logger>

    <logger name="net.unicon.cas">
        <level value="DEBUG" />
    </logger>

    <logger name="org.opensaml">
        <level value="OFF" />
    </logger>

    <logger name="org.apache.xml">
        <level value="OFF" />
    </logger>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="console" />
    </root>
</log4j:configuration>
